# General ignores
.DS_Store
.idea
nbproject
*.project
*.swp
.buildpath
.cache
.project
.session
.settings
.TemporaryItems
.webprj
.vagrant
*.t3x
*.t3d
*.zip
*.bak
/backup/*
*.bak
*~
.htaccess
.tmp
*.tmrproj
*.iml
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
@eaDir

# bootstrap scss files
app/web/typo3conf/ext/theme/Resources/Private/Scss/bootstrap