# General ignores
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.svn
.sass-cache
/.idea/**/*
!/.idea/encodings.xml
!/.idea/php.xml
!/.idea/vcs.xml
!/.idea/modules.xml
!/.idea/*.iml
nbproject
*.project
*.swp
.buildpath
.cache
.project
.session
.settings
.TemporaryItems
.webprj
.vagrant
*.t3x
*.t3d
/*.zip
/*.tgz
/*.tar.gz
/*.sql
*.bak
.~lock.*
/backup/**/*
!/backup/.gitkeep
/docker-compose.yml
