<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:render partial="Page/Dummy/PageHeader" section="Content" arguments="{_all}" />
<f:render partial="Page/Dummy/MainNavigation" section="Content" arguments="{_all}" />
<f:render partial="Page/Dummy/Breadcrumb" section="Content" arguments="{_all}" />
<f:render section="Jumbotron" />
<div class="container maincontent">
	<f:render section="Content" />
	<f:render partial="Page/Dummy/Footer" section="Content" arguments="{_all}" />
</div>
</html>
