<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:theme="http://typo3.org/ns/JosefGlatz/Theme/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:spaceless>
	<f:if condition="{file}">


		<f:if condition="!{breakpoints}">
			{f:variable(name: 'breakpoints', value: '{settings.breakpoints.default}')}
		</f:if>


		<f:if condition="!{pixelDensities}">
			<f:if condition="{settings.pixelDensities.type -> f:count()} > 0">
				<f:then>
					{f:variable(name: 'pixelDensities', value: settings.pixelDensities.type)}
				</f:then>
				<f:else>
					{f:variable(name: 'pixelDensities', value: settings.pixelDensities.default)}
				</f:else>
			</f:if>
		</f:if>


		<f:if condition="!{defaultImageMaxWidth}">
			{f:variable(name: 'defaultImageMaxWidth', value: '{settings.defaultImageMaxWidth -> theme:or(alternative: \'800\')}')}
		</f:if>


		<f:link.typolink parameter="{file.link}" class="{linkClass -> theme:or(alternative: 'picturelink')}">
			<picture class="{pictureClass}">
				<f:for each="{breakpoints}" as="breakpoint" iteration="i_breakpoints" reverse="true">
					<f:if condition="{breakpoint.media}">
						<f:alias map="{pds: pixelDensities}">
							<f:for each="{pds}" as="pd">
								<f:variable name="AttributeMediaValue"><theme:format.cleanupString tabs="true" lineBreaks="true" unixBreaks="true" windowsBreaks="true">
									only screen and ({breakpoint.media -> theme:or(alternative: 'min-width')}: {breakpoint.size}px) and (-webkit-min-device-pixel-ratio: {pd.min-ratio}),
									only screen and ({breakpoint.media -> theme:or(alternative: 'min-width'}: {breakpoint.size}px) and (min-resolution: {pd.min-resolution}dpi)
								</theme:format.cleanupString></f:variable>
								{theme:math.simpleMultiply(a: breakpoint.maxWidth, b: pd.min-ratio) -> f:variable(name: 'resultingMaxWidth')}
								<source
									srcset="{f:uri.image(image: file, maxWidth: '{resultingMaxWidth}', cropVariant: breakpoint.cropVariant)}"
									media="{AttributeMediaValue}">
							</f:for>
						</f:alias>
						<f:variable name="mediaAttribute">only screen and ({breakpoint.media -> theme:or(alternative: 'min-width'}: {breakpoint.size}px)</f:variable>
						<source
							srcset="{f:uri.image(image: file, maxWidth: breakpoint.maxWidth, cropVariant: breakpoint.cropVariant)}"
							media="{mediaAttribute}">
					</f:if>
				</f:for>

				<img class="{class -> theme:or(alternative: 'img-fluid')}"
					 src="{f:uri.image(image: file, maxWidth: defaultImageMaxWidth, cropVariant: '{defaultCropVariant -> theme:or(alternative: \'default\')}')}"
					 alt="{file.alternative}" title="{file.title}">
			</picture>
		</f:link.typolink>
	</f:if>
</f:spaceless>
</html>
