<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Page/Dummy/Default" />

<f:section name="Jumbotron" />

<f:section name="Content">

	<div class="row">
		<div class="col-md-8">
			<h1 title="pages.title">{data.title} <small class="text-muted">{data.subtitle}</small></h1>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
		</div>
		<div class="col-md-4">
			<f:render partial="Page/Dummy/SubNavigation" section="Content" arguments="{_all}" />
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
			<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{colPos: '2'}" />
		</div>
	</div>

</f:section>

</html>
