<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="Content">
	<div class="mainnav">
		<nav class="main-nav container" role="navigation">

			<!-- Mobile menu toggle button (hamburger/x icon) -->
			<input id="main-menu-state" type="checkbox"/>
			<label class="main-menu-btn" for="main-menu-state">
				<span class="main-menu-btn-icon"></span> Toggle main menu visibility
			</label>

			<h2 class="nav-brand"><f:link.page pageUid="{RootUid}" target="_top">{settings.sitename}</f:link.page></h2>

			<f:render partial="Page/Dummy/Navigation/MainNavigation" arguments="{_all}" />
		</nav>
	</div>
</f:section>

</html>
