######################################
## Remove from git ignore BEGIN
######################################
/web/typo3conf/LocalConfiguration.php
/composer.lock
######################################
## Remove from git ignore END
######################################

# TYPO3 specific ignores

/config/sites/**/colors.yaml

/packages/**/*.zip
/packages/**/*.tgz
/packages/**/*.tar.gz

/private/**/*
!/private/typo3conf/LocalConfiguration.php
!/private/typo3conf/AdditionalConfiguration.php
!/private/typo3conf/AdditionalConfiguration_*.php
!/private/.htaccess

/public/fileadmin
/public/typo3
/public/typo3conf
/public/typo3temp
/public/.htaccess
/public/index.php

/var/**/*
!/var/labels/
/vendor

/codecept
/doctrine-dbal
/fluid
/pdepend
/php*
/rmversion
/setversion
/surf
/typo3
/typo3*
/upload

node_modules
*.log
Documentation-GENERATED-temp
