######################################
## Remove from git ignore BEGIN
######################################
/web/typo3conf/LocalConfiguration.php
/composer.lock
######################################
## Remove from git ignore END
######################################

# TYPO3 specific ignores
/vendor
/web/index.php
/web/typo3
/web/typo3temp/**/*
/var/**/*
!/var/labels/
/web/typo3conf/PackageStates.php
/web/typo3conf/temp_*.php
/web/typo3conf/autoload/
/web/typo3conf/.tx_imageautoresize
/web/typo3conf/l10n
/web/typo3conf/mails.txt
/web/typo3conf/ENABLE_INSTALL_TOOL
/web/FIRST_INSTALL

/doctrine-dbal
/fluid
/phpunit
/typo3
/typo3cms
/php-parse
/rmversion
/setversion
/upload
/sgc
/surf
/pdepend
/php-cs-fixer
/phpcbf
/phpcs
/phpmd

.php_cs.cache
node_modules
*.log

/web/typo3conf/ext/*.zip
/web/typo3conf/ext/*.tgz
/web/typo3conf/ext/*.tar.gz

/web/fileadmin/**/*
/web/uploads/**/*

# Ignore EXT:documentation files
/web/typo3conf/Documentation/**/*

# Ignore docker-render-documentation
Documentation-GENERATED-temp

# Initially ignore all local TYPO3 extensions
/web/typo3conf/ext/*
# Ignore all ext's except project specific (or modified (you bad boy!)) extensions
!/web/typo3conf/ext/theme/
!/web/typo3conf/ext/hide_sys_template/
!/web/typo3conf/ext/theme_*/

/web/typo3conf/ext/theme/Resources/Public/JavaScript/Dist/**/*
!/web/typo3conf/ext/theme/Resources/Public/JavaScript/Dist/.gitkeep
/web/typo3conf/ext/theme/Resources/Public/Css/**/*
!/web/typo3conf/ext/theme/Resources/Public/Css/.gitkeep
!/web/typo3conf/ext/theme/Resources/Public/Css/Backend/PageLayoutView.css
/web/typo3conf/ext/theme/Resources/Public/StyleSheets/**/*
!/web/typo3conf/ext/theme/Resources/Public/StyleSheets/.gitkeep
/web/typo3conf/ext/theme/Resources/Private/Templates/Page/AboveTheFold/Dist/
!/web/typo3conf/ext/theme/Resources/Private/Templates/Page/AboveTheFold/Dist/.gitkeep
/web/typo3conf/ext/theme/Resources/Public/SourceMaps/
!/web/typo3conf/ext/theme/Resources/Public/SourceMaps/.gitkeep
/web/typo3conf/ext/theme/Resources/Public/RTE/Plugins/
!/web/typo3conf/ext/theme/Resources/Public/RTE/Plugins/.gitkeep
*.css.map
