<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:comment><!-- @TODO Add screen reader default link to content --></f:comment>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<a class="navbar-brand" href="{f:uri.typolink(parameter: '{RootUid}')}">{settings.sitename}</a>
		<ul class="nav navbar-nav">
			<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="#about">About</a></li>
			<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
		</ul>
	</div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container">

	<div class="row row-offcanvas row-offcanvas-right">

		<div class="col-xs-12 col-sm-9">
			<p class="float-xs-right hidden-sm-up">
				<button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
			</p>
			<div class="jumbotron">
				<h1>Hello, world!</h1>
				<p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
			</div>
			<f:render section="Content" />
		</div><!--/span-->

		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
			<div class="list-group">
				<a href="#" class="list-group-item active">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
				<a href="#" class="list-group-item">Link</a>
			</div>
		</div><!--/span-->
	</div><!--/row-->

	<hr>

	<footer>
		<p>&copy; Company 2014</p>
	</footer>

</div><!--/.container-->

</html>
